<!DOCTYPE html>
{% load staticfiles %}


	<html lang="en">
		 <head>
		 	{% block title_block %}
	 		 <title>Student's Log</title>
	 		 {% endblock %}
				  <meta charset="utf-8">
				  <meta name="viewport" content="width=device-width, initial-scale-1">
				  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
				  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
				  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  				  <link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">
				  <script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>
	 	</head>

	 	<body>

		    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#d9b3ff">
		        <div class="container-fluid">
		            <div class="navbar-header">
		            	<button type ="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
		            		<span class="icon-bar" ></span>
		            		<span class="icon-bar"></span>
		            		<span class="icon-bar"></span>
		            	</button>
		                <a href="{% url 'index' %}" class="navbar-brand">Student's Log</a>
		            </div>

		            <!-- Menu Stuff -->
		            <div class="collapse navbar-collapse" id="mainNavBar">
		                <ul class="nav navbar-nav">
		            	{% if user.is_authenticated %}
		               		<li class="dropdown">
		                		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }}'s Profile <span class="caret"></span></a>
		                		<ul class="dropdown-menu">
		                			<li><a href="#">Update Account</a></li>
		                			<li><a href="{% url 'change_password' %}">Change Password</a></li>
		               			</ul>
		               		</li>
		               	</ul>
			               		<ul class="nav navbar-nav">
			               		<li class="dropdown">
			                		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Subjects<span class="caret"></span></a>
			                		<ul class="dropdown-menu">
										{% for s in subjects %}
			                				<li><a href="{% url 'show_subject' s.slug %}">{{ s.name }}</a></li>
			                			{% endfor %}
			                			{% if user.user_type == 'LECTURER' %}
			                			<li><a href="{% url 'add_subject' %}">Add a Subject</a></li>
			                			{% endif %}
			                		</ul>
			                	</li>
			                </ul>
			            </ul>
		                	<ul class="nav navbar-nav">
		             
		                		{% if user.user_type == 'STUDENT' %}
		                		<li><a href="{% url 'show_journal' user.username %}">{{user.first_name}}'s Journal</a></li>
		                		{% endif %}
		               			<!-- <li><a href="{% url 'forum_view' %}">Tag Rater</a></li>  -->
		               			<li><a href="{% url 'search_tags' %}">Search Tags</a></li>
		                   		<li><a href="{% url 'contact_us' %}">Contact Us</a></li>
		                   		</ul>
		                   	</ul>
		                   </ul>
		                   	<ul class="nav navbar-nav navbar-right">
			                    <li><a href="{% url 'logout' %}">Logout</a></li>
			                    {% endif %}
			                </ul>
			           
			            </div>
			        </div>
			    </nav>
		    	{% block body_block %}s
		    	{% endblock %}
		</body>
	</html>