{% extends 'log/base.html' %}
{% load staticfiles %}

  
{% block body_block %}

<div class="container">
	<div class="row">
			<div class="col-lg-12 text-center">
				<br><br><br><br>
					<!-- This works providing it's embed rather than watch in the YouTube link. Have added the link below to go to the YouTube site if it doesn't play. If I have time, I'll write a url parsing method to extract the videoID to ensure that it's always embedded, otherwise it would be in future releases-->
					<iframe width="600" height="400" src={{link.upload_link}} allowfullscreen></iframe>
					<br>
				</div>
				<div class="col-lg-12 text-center">
					<h3>Tagged as {{link.tags}}<br></h3>
				<h4>Uploaded to Student's Log on {{link.upload_time}}<br></h4>
				<h5><a href ="{% url 'subject_discussion' subject.slug %}">Return to the {{link.subject}} discussion page</a></h5>
				</div>
				<div class = "col-lg-3">
				</div>
				<div class="col-lg-6 text-center">
					<h3>If the video above does not function, please click<a href ="{{link.upload_link}}"> here</a> to view it on an external site.</h3><br>
			</div>
		</div>


{% endblock %}