<!DOCTYPE html>
{% extends 'log/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="page-header text-center">
	<br>
	<h1>Login</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      </div>
    <div class="col-sm-4">
	<form method="post" action=".">
	{% csrf_token %}
	<div class  = "form-group">
		<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" name ="username"placeholder="Enter username"/> 
		</div>
		<div class  = "form-group">
			<label for="username">Password:</label>
				<input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password" /> <br />
	<center><input type="submit" class="btn btn-default" value="Log in" /></center>
</form> 
	<div>
		<br>
		<div class="well text-center">
		<p><h4>Not a member?<br></h4>
		<h3><a href="{% url 'register_profile' %}">Register here</a></h3> </p>
	</div>
</div>
			<div class="col-sm-4">
			</div>
		</div>
	</div>
</div>
{% endblock %}
