{% extends 'log/base.html' %}
{% load staticfiles %}


{% block body_block %}

<div class="page-header text-center">
	<br>
	<h1>Tag Search</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h4>Search our tags to help with your studies.</h4><br/>
			<input class="form-control"type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search here...">
				</div>
			</div>

			<br><br>
					{% for tag in tags %}
					{% for s in sTags %}
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="well">
								<div id="tag-list">
								<p><strong>{{tag.tags}} - </strong>Lecture Content - <a href="{% url 'video_test' tag.videoID %}">Video {{tag.videoID}}</a></h5></p>
							</div>
						</div>
							<div class="well">
								<div id="sTag-list">
								<p><strong>{{s.tags}} - </strong>Student Upload - <a href="#">Link to Upload</a></h5></p>
							</div>
						</div>
								{% endfor %}
								{% endfor %}
						</div>
					</div>
				</div>
			</div>

<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}