{% extends 'log/base.html' %}

{% load staticfiles %}

	{% block body_block %}
	<div class="row">
		<div class="col-lg-12">
			<br><br><br>
			<div class="well text-center">
			<video id='my-video' class='video-js vjs-big-play-centered' controls preload='auto'  data-setup='{"fluid":true}'src="{{MEDIA_URL}}{{video.videoFile.name}}"></video>
		
				<h4><br>
				Video ID: {{video.videoID}}
				<br>
				Filename: {{video.videoFile}}
				<br>
				Video Description: {{video.videoDescription}}
				<br>
				Uploaded by: {{video.uploader}}
				<br>
				Views: {{video.views}}
				<br>
				Likes: {{video.likes}}
				<br>
				Subject: {{video.subject}} 
				<br>
				Student Rating -
				<br>
				Likes: {{video.subject.likes}}
				<br>
				Dislikes: {{video.subject.dislikes}}
				<br></h4>
			</div>
		</div>
	</div>
	{% endblock %}