{% extends 'log/base.html' %}

{% load staticfiles %}

	{% block body_block %}
	<div class="row">
		<div class="col-lg-12">
			<br><br><br>
			<div class="well text-center">
			<video id='my-video' class='video-js vjs-big-play-centered' controls preload='auto'  data-setup='{"fluid":true}'src="{{MEDIA_URL}}{{video.videoFile.name}}"></video>
		
				<h4><br>
				Video Stats - <br></h4>
				Video ID: {{video.videoID}}
				<br>
				Filename: {{video.videoFile}}
				<br>
				Video Description: {{video.videoDescription}}
				<br>
				Uploaded by: {{video.uploader}}
				<br>
				Views: {{video.views}}
				<br>
				Likes: {{video.likes}}
				<br>
				Subject: {{video.subject}} 
				<br>
				<h4>Student Subject Rating -</h4>
				Likes: {{video.subject.likes}}
				<br>
				Dislikes: {{video.subject.dislikes}}
				<br>
				<h4>Student Video Tags - <br></h4>
				{% if tags %}
				Tags:
				{% for t in tags %}
				{{forloop.counter}}. {{t.tags}}</h4>
				{% endfor %}
				{% else %}
				No students have tagged this video yet.
				{% endif %}
			</div>
		</div>
	</div>
	{% endblock %}