{% extends 'log/base.html' %}

{% load staticfiles %}

	{% block body_block %}


	<center><video id='my-video' class='video-js' controls preload='auto' width='400' height='350' data-setup='{}'src="{{MEDIA_URL}}{{video.videoFile.name}}"></video>
	<br>
	Video ID: {{video.videoID}}
	<br>
	Filename: {{video.videoFile}}
	<br>
	Video Description: {{video.videoDescription}}
	<br>
	Uploaded by: {{video.uploader}}
	<br>
	Views: {{video.views}}
	<br>
	Likes: {{video.likes}}
	<br>
	Subject: {{video.subject}}
	<br></center>

	{% endblock %}