{% extends 'log/base.html' %}
{% load staticfiles %}
	
{% block body_block %}

	{% if subject %}
		<h2>{{ subject.name }}</h2>
		
		{% if videos %}
			<ul>
			{% for v in videos %}
				<video id='my-video' class='video-js' width='250' height='200' data-setup='{}'src="{{MEDIA_URL}}{{v.videoFile.name}}"></video>
				<br>
				<p>{{ v.videoDescription }}</p>
				{% if request.user.user_type == 'LECTURER' %}
				<a href="#">View Video Stats</a>
				{% else %}
				<a href="{% url 'show_video' subject.slug v.videoID %}">View Video</a>
				{% endif %}
			{% endfor %}
			</ul>
		{% else %}	
			<strong>No videos uploaded to this category.</strong>
		{% endif %}
		{% if request.user.user_type == 'LECTURER' %}
		<div>
			<a href= "{% url 'upload' subject.slug %}">Upload a video</a>
		</div>
		{% endif %}
	{% else %}
		The specified subject does not exist!
	{% endif %}

{% endblock %}