{% extends 'log/base.html' %}
{% load staticfiles %}
	
{% block body_block %}

	{% if subject %}
	<div class="page-header text-center">
		<br>
		<h2>{{ subject.name }}</h2>
	</div>
	<div class="container">
		{% if videos %}
			
			{% for v in videos %}
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="well well-lg">
						<video id='my-video' class='video-js'data-setup='{"fluid": true}'src="{{MEDIA_URL}}{{v.videoFile.name}}"></video>
						<br>
						<p><h4>{{ v.videoDescription }}</h4></p>
						{% if request.user.user_type == 'LECTURER' %}
						<h3><a href="{% url 'video_stats' v.videoID %}">View Video Stats</a></h3>
						<h3><a href="#">Upload a Quiz</a></h3>
						{% else %}
						<h3><a href="{% url 'video_test' v.videoID %}">View Video</a></h3>
					{% endif %}
				</div>
			{% endfor %}
		{% else %}	
			<strong>No videos uploaded to this subject.</strong>
		{% endif %}
		{% if request.user.user_type == 'LECTURER' %}
		<div>
			<center><strong><h2><a href= "{% url 'upload' subject.slug %}">Upload another video</a></h2></strong></center>
		</div>
		{% endif %}
	{% else %}
		The specified subject does not exist!
	{% endif %}

{% endblock %}