<!DOCTYPE html>
{% extends 'log/base.html' %}
{% load staticfiles %}

  
{% block body_block %}
<div class="container">
	<div class="row">
			<div class="col-lg-12">
				<br><br><br>
					<div class="well well-lg text-center">
					<video id='my-video' class='video-js vjs-big-play-centered' controls preload='auto' data-setup='{"fluid": true}'>
						<source src="{{ MEDIA_URL}}{{video.videoFile.name}}" type="video/mp4">
					  </video>
		  				<div class="quiz-bar">
						</div>
							<h3>Click <a href="{% url 'add_journal_content' video.videoID %}">here</a> to save timecodes to your own journal to help you study and add tags to help others.</h3><br>
							<h4>Click <a href="{% url 'video_tags' video.videoID %}">here</a> to see how others have tagged this video.</h4><br>
							<h4>Unsure about the what you've seen? Try starting a <a href="{% url 'forum_view' %}">forum</a> to discuss with your peers.</h4>
							<br><h5>If you're still unsure, contact the <a href="mailto:{{ video.uploader.email }}?subject=Student's Log Email Query">lecturer.</a></h5>
						</div>
					</div>
				</div>
			</div>
{% endblock %}