<!DOCTYPE html>
{% extends 'log/base.html' %}
{% load staticfiles %}

  
{% block body_block %}

<video id='my-video' class='video-js' controls preload='auto' width='600' height='450' data-setup='{}'>
	<source src="{{ MEDIA_URL}}{{video.videoFile.name}}" type="video/mp4">
 <!--    <p class='vjs-no-js'>
	  To view this video please enable JavaScript, and consider upgrading to a web browser that
	  <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
	</p> -->
  </video>

  <div class="quiz-bar">
	</div>


	<div class="contact-uploader">
		<center>Unsure about the what you've seen? Try starting a <a href="{% url 'forum_view' %}">forum</a> to discuss with your peers. 
			<br>If you're still unsure, contact the lecturer.</center>
		<center><h5><a href="mailto:{{ video.uploader.email }}?subject=Student's Log Email Query">Click here to email the lecturer</a></h5></center>

{% endblock %}