<!DOCTYPE html>
{% extends 'log/base.html' %}
{% load staticfiles %}

  
{% block body_block %}


<video id='my-video' class='video-js' controls preload='auto' width='750' height='500'
  poster='dog.jpg' data-setup='{}'>
    <source src="{{ MEDIA_URL}}videos/test.MP4" type="video/mp4">
    <p class='vjs-no-js'>
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
    </p>
  </video>






{% endblock %}